@keyframes border-status-animation-down {
    from{
        transform: translate(-50%, -50%);
        border-color: lightgrey;
    }

    to{
        border-color: #16c784;
    }
}

@keyframes border-status-animation-up {
    from{
        transform: translate(-50%, -50%);
        border-color: lightgrey;
    }

    to{
        border-color: #16C73A;
    }
}

@keyframes border-status-animation-focus {
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}