.container-top{
    height: 100vh;
    position: relative;
    overflow: hidden;

    &__coin{
        position: absolute;
        
        &__1{
            top: 35%;
            left: 50%;
            transform: translate(-50%, -40%);
            animation: moveOnTop 3.5s ease-in-out;
        }

        &__2{
            top: 45%;
            left: 20%;
            transform: translate(-50%, -50%);
            animation: moveInLeft 2s ease-in;
        }

        &__3{
            top: 45%;
            left: 80%;
            transform: translate(-50%, -50%);
            animation: moveInRight 2s ease-in;
        }
    }

    &__head{
        position: absolute;
        height: 25rem;
        width: 25rem;
        border-radius: 50%;
        background-color: beige;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 1s, box-shadow 1s;

        @include respond (tab-port){
            height: 22rem;
            width: 22rem;
        }
    }

    &__coin:hover &__head{
        transform: translate(-50%, -110%) scale(0.5);
        border: 1px solid lightgray;
        box-shadow: 0 0rem 1rem .1rem rgba(black, .15);
    }

    &__background-status{
        position: absolute;
        height: 26rem;
        width: 26rem;
        border-radius: 50%;
        background-color: black;
        border: 6px solid lightgrey;
        border-top-color: #FFA500;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: border-status-animation 1.5s ease-in alternate-reverse infinite;

        @include respond (tab-port){
            height: 23rem;
            width: 23rem;
        }
   }

   &__coin:hover &__background-status{
        animation: border-status-animation-focus 6s linear infinite;
   }

   &__coin:hover &__price-container  &__price-container__principal-title{
    opacity: 1;
    }

}
