.container-top{
    height: 100vh;
    position: relative;

    &__coin{
        position: absolute;
        
        &__1{
            top: 45%;
            left: 50%;
            transform: translate(-50%, -40%);
            
        }

        &__2{
            top: 55%;
            left: 30%;
            transform: translate(-50%, -50%);
        }

        &__3{
            top: 60%;
            left: 70%;
            transform: translate(-50%, -50%);
        }
    }

    &__head{
        position: absolute;
        height: 230px;
        width: 230px;
        border-radius: 50%;
        background-color: beige;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 1s;
    }

    &__coin:hover &__head{
        perspective: 800px;
        transform: translate(-50%, -110%) scale(0.6);
        box-shadow: 0 0rem 1rem .1rem rgba(black, .15);
    }

    &__head-background{
        position: absolute;
        height: 235px;
        width: 235px;
        border-radius: 50%;
        background-color: #F08909;
        border: 3px solid lightgrey;
        border-top-color: blueviolet;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: border-status-animation 6s linear infinite;

   }

   &__porcentagem{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    

    &__data{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -75%);

    }

    &__coin:hover &__top-level{
        margin-bottom: 0;
        font-size: 28px;
    }

    &__top-level{
        transform: translateY(-60%);
        transition: all 1s;
    }

    &__coin:hover &__title{
        margin-bottom: 0;
        font-size: 25px;
    }

    &__title{
        font-size: 20px;
        margin-bottom: 1rem;
        transition: all 1s;
    }

    &__coin:hover &__price{
        opacity: 0;
    }

    &__price{
        font-size: 1.2rem;
        transition: all 1s;
    }
}
