.container-top {
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .container-top__coin {
    position: absolute; }
    .container-top__coin__1 {
      top: 35%;
      left: 50%;
      transform: translate(-50%, -40%);
      animation: moveOnTop 3.5s ease-in-out; }
    .container-top__coin__2 {
      top: 45%;
      left: 25%;
      transform: translate(-50%, -50%);
      animation: moveInLeft 2s ease-in; }
    .container-top__coin__3 {
      top: 45%;
      left: 75%;
      transform: translate(-50%, -50%);
      animation: moveInRight 2s ease-in; }
  .container-top__head {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: beige;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s, box-shadow 1s; }
  .container-top__coin:hover .container-top__head {
    transform: translate(-50%, -110%) scale(0.5);
    border: 1px solid lightgray;
    box-shadow: 0 0rem 1rem 0.1rem rgba(0, 0, 0, 0.15); }
  .container-top__background-status {
    position: absolute;
    height: 260px;
    width: 260px;
    border-radius: 50%;
    background-color: black;
    border: 5px solid lightgrey;
    border-top-color: blueviolet;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: border-status-animation 1.5s ease-in alternate-reverse infinite; }
  .container-top__coin:hover .container-top__background-status {
    animation: border-status-animation-focus 6s linear infinite; }
  .container-top__price-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container-top__price-container__price {
      display: inline-block;
      background-color: #f7f9fa;
      border: 1px solid #ebeef0;
      white-space: nowrap;
      padding: 3px;
      border-radius: 5px; }
    .container-top__price-container__percentage-container {
      display: flex;
      text-align: center; }
    .container-top__price-container__percentage-container:first-of-type {
      margin-top: 14px;
      margin-bottom: 6px; }
    .container-top__price-container__percentage-time {
      display: inline-block;
      width: 42px;
      background-color: #f7f9fa;
      border: 1px solid #ebeef0;
      border-radius: 5px;
      font-size: 12px;
      padding: 3px;
      white-space: nowrap;
      text-align: center; }
    .container-top__price-container__percentage-price {
      display: inline-block;
      margin-left: 10px;
      white-space: nowrap;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: #f44336; }
    .container-top__price-container__container-book {
      width: 250px;
      transform: translate(-50%, 360%);
      position: absolute; }
      .container-top__price-container__container-book__arrow {
        display: inline-block;
        cursor: pointer;
        font-size: 30px;
        font-weight: 700;
        color: blueviolet;
        transition: transform 1s ease; }
      .container-top__price-container__container-book__arrow > svg {
        animation: arrow 1s ease-in-out alternate-reverse infinite; }
      .container-top__price-container__container-book__book {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 250px;
        border-radius: 3px;
        height: 0px;
        margin-right: auto;
        background-color: #f7f9fa;
        transition: all ease-in-out 1s;
        overflow: hidden;
        font-size: 14px; }
        .container-top__price-container__container-book__book__title {
          height: 15%;
          border-bottom: 2px solid black;
          text-align: center; }
        .container-top__price-container__container-book__book__orders {
          display: flex;
          height: 85%;
          font-size: 12.5px; }
        .container-top__price-container__container-book__book__sell {
          display: flex;
          flex-direction: column;
          width: 50%;
          border-right: 2px solid black;
          text-align: center; }
        .container-top__price-container__container-book__book__buy {
          display: flex;
          flex-direction: column;
          width: 50%;
          text-align: center; }
        .container-top__price-container__container-book__book__prices {
          text-align: left;
          padding-top: 2px;
          padding-bottom: 2px;
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid gray; }
  .container-top__preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%); }
  .container-top__top-level {
    font-style: italic;
    text-decoration: underline;
    color: goldenrod;
    transform: translateY(-60%);
    transition: all 1s; }
  .container-top__coin:hover .container-top__top-level {
    margin-bottom: auto;
    font-size: 28px; }
  .container-top__title {
    font-size: 20px;
    margin-bottom: 1rem;
    transition: all 1s; }
  .container-top__coin:hover .container-top__title {
    margin-bottom: 0;
    font-size: 25px; }
  .container-top__price-title {
    white-space: nowrap;
    font-size: 18px;
    transition: all 1s; }
  .container-top__coin:hover .container-top__price-title {
    opacity: 0; }

.App {
  text-align: center; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

@keyframes moveOnTop {
  from {
    opacity: 0;
    transform: translateY(500px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes moveInLeft {
  from {
    opacity: 0;
    transform: translateX(-500px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  from {
    opacity: 0;
    transform: translateX(500px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes border-status-animation {
  from {
    transform: translate(-50%, -50%);
    border-color: lightgrey; }
  to {
    border-color: #F2150D; } }

@keyframes border-status-animation-focus {
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes arrow {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(10px); } }

.arrowRotate {
  transform: rotate(540deg); }

.slide {
  height: 180px;
  border: 1px solid #ebeef0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }
