.container-top {
  height: 100vh;
  position: relative; }
  .container-top__coin {
    position: absolute; }
    .container-top__coin__1 {
      top: 45%;
      left: 50%;
      transform: translate(-50%, -40%); }
    .container-top__coin__2 {
      top: 55%;
      left: 30%;
      transform: translate(-50%, -50%); }
    .container-top__coin__3 {
      top: 60%;
      left: 70%;
      transform: translate(-50%, -50%); }
  .container-top__head {
    position: absolute;
    height: 230px;
    width: 230px;
    border-radius: 50%;
    background-color: beige;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s; }
  .container-top__coin:hover .container-top__head {
    perspective: 800px;
    transform: translate(-50%, -110%) scale(0.6);
    box-shadow: 0 0rem 1rem 0.1rem rgba(0, 0, 0, 0.15); }
  .container-top__head-background {
    position: absolute;
    height: 235px;
    width: 235px;
    border-radius: 50%;
    background-color: #F08909;
    border: 3px solid lightgrey;
    border-top-color: blueviolet;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: border-status-animation 6s linear infinite; }
  .container-top__price-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; }
    .container-top__price-container__price {
      white-space: nowrap; }
    .container-top__price-container__percentage-container {
      display: flex;
      text-align: center;
      align-items: center; }
    .container-top__price-container__percentage-container:not(:last-child) {
      margin-top: 16px;
      margin-bottom: 6px; }
    .container-top__price-container__percentage-time {
      display: inline-block;
      width: 42px;
      background-color: #f7f9fa;
      border: 1px solid #ebeef0;
      border-radius: 5px;
      font-size: 12px;
      padding: 3px;
      white-space: nowrap;
      text-align: center; }
    .container-top__price-container__percentage-price {
      display: inline-block;
      margin-left: 10px;
      white-space: nowrap;
      font-size: 14px;
      font-weight: 500;
      text-align: center; }
  .container-top__data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%); }
  .container-top__coin:hover .container-top__top-level {
    margin-bottom: 0;
    font-size: 28px; }
  .container-top__top-level {
    transform: translateY(-60%);
    transition: all 1s; }
  .container-top__coin:hover .container-top__title {
    margin-bottom: 0;
    font-size: 25px; }
  .container-top__title {
    font-size: 20px;
    margin-bottom: 1rem;
    transition: all 1s; }
  .container-top__coin:hover .container-top__price-title {
    opacity: 0; }
  .container-top__price-title {
    font-size: 1.2rem;
    transition: all 1s; }

.App {
  text-align: center; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

@keyframes moveOnTop {
  from {
    opacity: 0;
    transform: translateY(300px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes moveInLeft {
  from {
    opacity: 0;
    transform: translateX(-200px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  from {
    opacity: 0;
    transform: translateX(200px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes border-status-animation {
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }
