// Seta rotaciona ao ser clicada
.arrowRotate{
    transform: rotate(540deg);
}

// Container do livro de receitas é exibido
.slide{
    opacity: 1;
    height: 180px;
    border: 1px solid #ebeef0;

    @include respond (tab-port){
        height: 160px;
    }
}