.container-top__price-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__principal-title{
        display: inline-block;
        color: white;
        white-space: nowrap;
        font-size: 22px;
        margin-bottom: 16px;
        opacity: 0;
        transition: opacity 2s;
    }

    &__price{
        display: inline-block;
        background-color: #f7f9fa;
        border: 1px solid #ebeef0;
        white-space: nowrap;
        padding: 3px;
        border-radius: 5px;
        font-size: 20px;
    }

    &__percentage-container{
        display: flex;
        text-align: center;
    }

    &__percentage-container:first-of-type{
        margin-top: 14px;
        margin-bottom: 6px;
    }
    
    &__percentage-time{
        display: inline-block;
        width: 42px;
        background-color: rgb(247, 249, 250);
        border: 1px solid #ebeef0;
        border-radius: 5px;
        font-size: 12px;
        padding: 3px;
        white-space: nowrap;
        text-align: center;
    }

    &__percentage-price{
        display: inline-block;
        margin-left: 10px;
        white-space: nowrap;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        color: #f44336;
    }

}