.container-top__preview{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
}

.container-top__logo{
    font-size: 5rem;
    font-style: italic;
    text-decoration: underline;
    transform: translateY(-22%);
    transition: all 1s;

    @include respond (tab-port) {
        font-size: 4.5rem;
    }
    
}
.container-top__coin:hover .container-top__logo{
    transform: translateY(58%);
    font-size: 16rem;

    @include respond (tab-port) {
        font-size: 14rem;
    }
}

.container-top__title{
    white-space: nowrap;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    transition: all 1s;

    @include respond (tab-port) {
        font-size: 2rem;
    }

}
.container-top__coin:hover .container-top__title{
    margin-bottom: 0;
    opacity: 0;
}

.container-top__price-title{
    display: inline-block;
    background-color: black;
    color: white;
    border: 1px solid #ebeef0;
    white-space: nowrap;
    padding: 3px;
    border-radius: 5px;
    font-size: 2.5rem;
    white-space: nowrap;
    transition: all 1s;

    @include respond (tab-port) {
        font-size: 2rem;
    }
}
.container-top__coin:hover .container-top__price-title{
    opacity: 0;
    transform: translateY(-30px);
}